{
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindStylesheet": "./app/globals.css",
	"tabWidth": 4,
	"useTabs": true,
	"objectWrap": "collapse",
	"arrowParens": "avoid",
	"trailingComma": "none"
}
