.link {
    text-decoration: none;
    color: #d4cbdd;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
  
.link:hover,
.link:active {
    background: linear-gradient(90deg, #6a3093, #a044ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 18px rgba(166, 42, 248, 0.8);
}

.active {
    background: linear-gradient(90deg, #6a3093, #a044ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}